
{% include "navebarre.html" %}

{% block content %}
{% endblock %}


        <h1 class="text-uppercase text-white font-weight-bold">Bienvenue</h1>
        <br>
        <style>#h{font:Serif; color:white;}</style> 
        <h2 id="h">My Profil est un site fun ou tu peux essayer des coupe de cheveux avec non pas un. Non pas deux mais
        des centaines de conseils ou d'habits choisis</h2>
        
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5"></p>
        

        
      </div>
    </div>
  </div>
</header>


{% include "bottom_page.html" %}

{% block content2 %}
{% endblock content2%}

