{% include "navebarre.html" %}
{% block content %}
{% endblock %}

<style>#autre{margin-left:-965px;;margin-top:-100px;}</style>
<style>#h{font:Serif; color:white;}</style>


<!-- Masthead -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
    
      <div class="col-lg-10 align-self-end"><br><br>

          <h1 class="text-uppercase text-white font-weight-bold">
            Connecte toi !
          </h1><br>
          
          <h2 id="h">
            et va essayer des coiffures !
          </h2><hr class="divider my-4">
      
      </div>
      
      <div class="col-lg-8 align-self-baseline">
      <p class="text-white-75 font-weight-light mb-5"></p>
         
    </div>
  </div>  
</header>



<section id="about"><br><br><br><br><br><br><br><br>

  <form method="POST">{% csrf_token%}
  
    <center>
      <strong>
        nom utilisateur :
      </strong>
      {{form.username}}
    </center><br><br>
    
    <center>
      <strong>
        mot de passe :&nbsp;&nbsp;&nbsp;&nbsp;
      </strong>
      {{form.password}}
    </center><br>

    
    <center><input type="submit" style="margin-left:50px;"></center>
    
  </form><br><br><br><br><br><br><br><br>
  
</section>

{% include "bottom_page.html" %}
{% block content2 %}
{% endblock content2%}

