{% include "navebarre_account.html" %}
{% block content %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="/static/css/signup.css" media="all" />

<!-- Title section -->
<header class="masthead"> 
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end"><br><br>
          <h1 id='sins'>S'inscrire</h1><br>
          <h2 id="h" >Et pourquoi ne pas s'inscrire ?
                Par l'inscription tu pourras enregistrer des
                coupes en favoris, voir les coiffeurs, salle de gym
                selon tes horaires ainsi que les magasins les plus proches
                et au cout le plus bas !
          </h2>
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5"></p>
        </div>
    </div>  
  </div>
</header>


<!-- Form section when user put his informations we
change title input to green-->
<section id="about">
    <br><br>
    <center><h3>
      L'inscription
    </h3></center>
    <br><br><br>
    
    <!-- Form section -->
    <div id='div_form'>
        <center><form id='formm'method="POST">{% csrf_token%}
        <br><br><br>


            <!-- First input - Name -->
            <p id='1' style="text-shadow: black 0.1em 0.1em 0.2em;">
                <strong>Ton nom :</strong>
            </p>
            <input type='text'
                onmouseover="stop('1', '11')" onmouseout="start('1', '11')"
                oninput="myFunction('1')"
                {{form.username}}<br>
            <center><div><p id='11'>
                &nbsp;</p>
            </div></center>
            <br>


            <!-- Second input - Mail-->
            <p id='2' style='text-shadow: black 0.1em 0.1em 0.2em'>
                <strong>Ton email :</strong>
            </p>
            <input type='text' id='input_mail'
                onmouseover="stop('2', '22')" onmouseout="start('2', '22')"
                oninput="myFunction('2')"
                {{form.email}}<br>
            <center><div><p id='22'>
                &nbsp;</p>
            </div></center>
            <br>

              
            <!-- Third input - Mail2-->
            <p id='3' style='text-shadow: black 0.1em 0.1em 0.2em'>
                <strong>Confirme ton mail :</strong>
            </p>
            <input type='text' id='input_mail2'
              onmouseover="stop('3', '33')" onmouseout="start('3', '33')"
              oninput="myFunction('3')"
              {{form.email2}}<br>
            <center><div><p id='33'>
                &nbsp;</p>
            </div></center>
            <br>


            <!-- Fourth input - Password-->      
            <p id='4' style='text-shadow: black 0.1em 0.1em 0.2em'>
               <strong>Et ton mot de passe :</strong>
            </p>
            <input type='password' id='input_password'
              onmouseover="stop('4', '44')" onmouseout="start('4', '44')"
              oninput="myFunction2('4')"
              {{form.password}}<br>
            <center><div><p id='44'>
                &nbsp;</p>
            </div></center>
            <br>


            <!-- fifth input - Submit-->      
            <input type="submit" id='submit_input'>
            <br><br><br><br>
            
    </form><br><br><br><br></center>
  </div>
</section>



{% include "bottom_page2.html" %}
{% block content2 %}
{% endblock content2%}
<script type="text/javascript" src="/static/js/signup.js"></script>














