{% include "navebarre_account.html" %}
{% block content %}
{% endblock %}

<style>#autre{margin-left:-965px;;margin-top:-100px;}</style>
<style>#h{font:Serif; color:white;}</style>

<style>
  #sins{
    color:black;
    font-family:"cursive";
    color:black;
  }

  #h{
    color:black;
    font-family:"Comic Sans MS, Comic Sans, cursive";

  }

  p{
    color:white;
  }


  #data{
    text-align:center;
  }

  #formm{
  border:5px solid black;
  width:50%;
  background:url("/static/img/parquet1.jpg");
  }
</style>




<!-- Masthead -->
<header class="masthead"> 
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
    
        <div class="col-lg-10 align-self-end"><br><br>
          
          <h1 id='sins'>S'inscrire</h1><br>
          
          <h2 id="h" >Et pourquoi ne pas s'inscrire ?
                      Par l'inscription tu pourras enregistrer des
                      coupes en favoris, voir les coiffeurs, salle de gym
                      selon tes horraires ainsi que les magasins les plus proches
                      et au cout le plus bas !


          </h2>
          
        </div>
        
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5"></p>
        </div>
        
    </div>  
  </div>
</header>


<section id="about" style='background:#212529'>
  <br><br><center><h3 style='color:white;
    text-shadow: black 0.2em 0.1em 0.2em'>
    L'inscription</h3></center><br><br><br>
    
  <div style="text-align:center">


      <center><form id='formm'method="POST">{% csrf_token%}
      <br><br><br>
          <center><p id='1' style='text-shadow: black 0.1em 0.1em 0.2em'><strong>Ton nom :</strong></p></center>
          
          <input type='text' style='text-align:center; width:250px; border:1px solid black;'
            onmouseover="stop('1', '11')" onmouseout="start('1', '11')"
            oninput="myFunction('1')"
            {{form.username}}<br>
            
          <center><div><p id='11'>&nbsp;</p></div></center><br>

         
          <p id='2' style='text-shadow: black 0.1em 0.1em 0.2em'><strong>Ton email :</strong></p>
            <input type='text' style='text-align:center; width:250px; border:1px solid black;'
              onmouseover="stop('2', '22')" onmouseout="start('2', '22')"
              oninput="myFunction('2')"
              {{form.email}}<br>
          
          <center><div><p id='22'>&nbsp;</p></div></center><br>
          

          <p id='3' style='text-shadow: black 0.1em 0.1em 0.2em'><strong>Confirme ton mail :</strong></p>
            <input type='text' style='text-align:center; width:250px; border:1px solid black;'
              onmouseover="stop('3', '33')" onmouseout="start('3', '33')"
              oninput="myFunction('3')"
              {{form.email2}}<br>

          <center><div><p id='33'>&nbsp;</p></div></center><br>


          
          <p id='4' style='text-shadow: black 0.1em 0.1em 0.2em'><strong>Et ton mot de passe :</strong></p>
          
          <input type='password' style='text-align:center; width:250px; border:1px solid black;'
            onmouseover="stop('4', '44')" onmouseout="start('4', '44')"
            oninput="myFunction2('4')"
            {{form.password}}<br>
            
          <center><div><p id='44'>&nbsp;</p></div></center><br>




          
          <input type="submit" style="color:black; border:2px solid black;"/>
          <br><br><br><br>
      </form><br><br><br><br></center>





      
    </div>
</section>


<script>

  function stop(titre, div){
    document.getElementById(titre)

    if(div == '11'){
      document.getElementById(div).innerHTML = '<i>Par exemple Emma</i>'
    }
    else if(div == '22'){
      document.getElementById(div).innerHTML = '<i>Par exemple Emma@hotmail.fr</i>'
    }
    else if(div == '33'){
      document.getElementById(div).innerHTML = '<i>Confirme le pour etre sur !</i>'
    }
    else if(div == '44'){
      document.getElementById(div).innerHTML = '<i>Nous te conseillons de mettre des chiffres et des majuscules</i>'
    }
    
    
  }

  function start(titre, div){
    document.getElementById(div).innerHTML = '&nbsp;';
  }


  function myFunction(titre){
    console.log(titre)
    if(titre == '1'){
      document.getElementById(titre).style.color = 'green';
      }
    else if(titre == '2'){
      document.getElementById(titre).style.color = 'green';
    }
    else if(titre == '3'){
      document.getElementById(titre).style.color = 'green';
    }

  }

  var c = 0
  function myFunction2(titre){
    if (c == 0){
      c += 1
      }
    else{
      console.log('laaaaaa')
      document.getElementById(titre).style.color = 'green';
    }

  }
</script>




































{% include "bottom_page2.html" %}
{% block content2 %}
{% endblock content2%}
