{% include "navebarre.html" %}

{% block content %}
{% endblock %}


  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 
    <script>
        function image(){
            document.getElementById("image1").src  = src="/static/img/portfolio/thumbnails/1.jpg";
        
            }
    </script>
    
    <style>
    
        #image1{margin-top:500px; width: 150px; height: 200px}
        
        #carre1{height:400px; width :200px; background: red; overflow: scroll;}
    
        #draggable2,
        #draggable3,
        #draggable4,
        #draggable5,
        #draggable6,
        #draggable7,
        #draggable8,
        #draggable9,
        #draggable10,
        #draggable11,
        #draggable12,
        #draggable14,
        #draggable15,
        #draggable16,
        #draggable17,
        #draggable18,
        #draggable19,
        #draggable { width: 0px; height: 0px;}
        #image{
            margin-top:-450px;
            
        }
        #coupe_gauche{
             margin-top:-280px;
        }
    
        #coupe_droite{
             margin-top:10px;
             margin-left:900px;
        }
    </style>
              
    

      <script>
    $( function() {
        $("#draggable, #draggable2, #draggable3, #draggable4, #draggable5").draggable();
      } );
    $( function() {
        $("#draggable6, #draggable7, #draggable8, #draggable9, #draggable10, #draggable11").draggable();
      } );
    $( function() {
        $("#draggable12, #draggable14, #draggable15, #draggable16, #draggable17, #draggable18, #draggable19, #draggable_favoris").draggable();
      } );


    
      </script>




  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">

     
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h2 class="text-white mt-0"><center>Essayons quelques choses</center></h2>
  

        <br><br>
            <script>

                LISTE_RESIZE = []
                LISTE_RESIZE_TAILLE_HAUTEUR = []
                LISTE_RESIZE_TAILLE_LARGEUR = []
                
                function nom_image(id, hauteur, largeur){
                  LISTE_RESIZE.push(id)

                  var a = document.getElementById(id).height;
                  var b = document.getElementById(id).width;
           
                  
                  LISTE1.push([id, b, a])
        
           
                  
                }

         
            </script>


            
            <div id="coupe_gauche" style='float:left; margin-top:-100px;'>

                <div id='favoris' style='display:none' value={{fav}}></div>

                
                <script>
                
                    //ERREUR A COUP SUR ICIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII //
                    
                    //var a = document.getElementById(favoris).value;//
                    //if(a == ''){//
                        //document.getElementById(coucou).innerHTML = "<p id='coucou'>Enregistre des coupes !</p>"//
                    //}

                </script>


                

                <script>
                LISTE_FAV_FAV = []
                function favfav(id){

                    
                    document.getElementById(id).style.position='relative';
                    LISTE_FAV_FAV.push(id)
                    alert(LISTE_FAV_FAV[LISTE_FAV_FAV.length-1])

                    var a = document.getElementById(id);
                    alert(a.offsetLeft);
                    alert(a.offsetTop);
                    }


                </script>
                {% if user.is_authenticated %}
                    <p style='float:left;'><strong>Mes favoris</strong></p>
                    <p id='coucou'></p>

                    
                    {% for i in coif %}

              
                            <img src="/static/img/portfolio/coupe/{{i}}" id='draggable_favoris' value='fav{{i}}'
                            onclick='favfav(id)' style='position:absolute;'/>
                        

                    {%endfor%}




                {% else %}
                    <p style='float:left;'><strong>Inscris toi ! et ajoute des favoris !</strong></p>

                {% endif %}


            </div>
            





            
            <div id='coupe_droite' style='margin-top:-100px;'>

              <p><strong>Coupes</strong></p>
              
              
            
                <div id="draggable" name="coucou" value='coupe1' class="ui-widget-content" onclick="nom_image('coupe1', 200, 150)";>
                    <img src="/static/img/portfolio/coupe/bbbbbbb.png" width='150' height='200'   id="coupe1" />
                </div>
                

                <div id="draggable3" class="ui-widget-content" value='coupe4' onclick="nom_image('coupe4', 150, 150)";>
                    <img src="/static/img/portfolio/coupe/image849849849.png" width='150' height='150'  id="coupe4"/>
                </div>

         
                <div id="draggable4" class="ui-widget-content" value='coupe5' onclick="nom_image('coupe5', 150, 100)";>
                    <img src="/static/img/portfolio/coupe/bbbbbbb.png" width='100' height='150'  id="coupe5" />
                </div>
                
           
                <div id="draggable5" class="ui-widget-content" value='coupe6' onclick="nom_image('coupe6', 300, 130)";>
                    <img src="/static/img/portfolio/coupe/1.5.png"  width='130' height='300'  id="coupe6"/>
                </div>

       
                <div id="draggable6" class="ui-widget-content" value='coupe2' onclick="nom_image('coupe2', 300, 130)";>
                    <img src="/static/img/portfolio/coupe/coucou3.png" width='130' height='300'  id="coupe2"/>
                </div>


                
                <div id="draggable7" class="ui-widget-content" value='coupe22' onclick="nom_image('coupe22', 100, 70)";>
                    <img src="/static/img/portfolio/coupe/coucou22.png" width='70' height='100'  id="coupe22"/>
                </div>


                
                <div id="draggable8" class="ui-widget-content" value='coupe8' onclick="nom_image('coupe8', 50, 70)";>
                    <img src="/static/img/portfolio/coupe/coucou22.png" width='70' height='50' id="coupe8"/>
                </div>

                <div id="draggable9" class="ui-widget-content" value='coupe9' onclick="nom_image('coupe9', 160, 140)";>
                    <img src="/static/img/portfolio/coupe/coif.png"  width='140' height='160'  id="coupe9"/>
                </div>


            
                <div id="draggable10" class="ui-widget-content" value='coupe12' onclick="nom_image('coupe12', 250, 150)";>
                    <img src="/static/img/portfolio/coupe/aa.png" width='150' height='250' id="coupe12"/>
                </div>

          
                <div id="draggable11" class="ui-widget-content" value='coupe13' onclick="nom_image('coupe13', 250, 150)";>
                    <img src="/static/img/portfolio/coupe/aaaaa.png" width='150' height='250' id="coupe13"/>
                </div>

             
                <div id="draggable12" class="ui-widget-content"  value='coupe14' onclick="nom_image('coupe14', 160, 100)";>
                    <img src="/static/img/portfolio/coupe/bb.png" width='100' height='160' id="coupe14" />
                </div>

  
                <div id="draggable14" class="ui-widget-content"  value='coupe16'onclick="nom_image('coupe16', 160, 100)";>
                    <img src="/static/img/portfolio/coupe/bbbb.png" width='100' height='160' id="coupe16"/>
                </div>


              
                <div id="draggable15" class="ui-widget-content"  value='coupe17'onclick="nom_image('coupe17', 250, 150)";>
                    <img src="/static/img/portfolio/coupe/bbb.png" width='150' height='250' id="coupe17"/>
                </div>

                
                <div id="draggable16" class="ui-widget-content"  value='coupe18'onclick="nom_image('coupe18', 160, 140)";>
                    <img src="/static/img/portfolio/coupe/1.1.png" width='140' height='160' id="coupe18" />
                </div>
  
               
                <div id="draggable17" class="ui-widget-content" value='coupe19' onclick="nom_image('coupe19', 100, 110)";>
                    <img src="/static/img/portfolio/coupe/1.2.png" width='110' heigh='100' id="coupe19"/>
                </div>

            
                <div id="draggable18" class="ui-widget-content" value='coupe20' onclick="nom_image('coupe20', 250, 150)";>
                    <img src="/static/img/portfolio/coupe/11.3.png" width='150' height='250' id="coupe20"/>
                </div>


  
                <div id="draggable19" class="ui-widget-content" value='coupe21' onclick="nom_image('coupe21', 250, 150)";>
                    <img src="/static/img/portfolio/coupe/1.4.png" width='150' height='250' id="coupe21"/>
                </div>
                
            </div>






  <script>
  
    function ya(){
          var a = document.getElementById("coupe1").offsetLeft;
          var b = document.getElementById("coupe1").offsetTop;
          console.log(a,b)
        };
    
  </script>


            
  <script>

  
    var LISTECOUPE = []

    var liste_liste = [draggable,draggable3,draggable4,draggable5,draggable6,draggable7,draggable8,draggable9,
                        draggable10,draggable11,draggable12,draggable14,draggable15,draggable16,draggable17,draggable18,
                        draggable19]

    
    function yo() {
        

      
      for(var i = 0; i <= liste_liste.length - 1; i++){
     
        var a = document.getElementById(liste_liste[i].id).offsetLeft;
        var b = document.getElementById(liste_liste[i].id).offsetTop;

        if(a >= 460 && a <= 580 & b >=60 && b <= 220 ){
          
          LISTECOUPE.push(liste_liste[i].id)
          document.getElementById("coupedecheveux").value = LISTECOUPE[LISTECOUPE.length - 1];
          alert(LISTECOUPE[LISTECOUPE.length - 1]);
          
          document.getElementById("jaime").submit();
        }
      
     };
 
  };


   
   
  
  </script>


       <div id="image" style='width:300px; height:300px; background:#069;margin-left:450px;margin-top:60px;'>
           
            <img src="/static/img/portfolio/photo/{{user}}/cheveux/{{image}}" style='margin-top:60px;width: 240px;height: 200px;'/>
              <br>
              <a href='/photo/mes_images' style='color:black;'>Changez l'image</a>
 
            <div id='no_choice' value={{no_choice}} style='display:none;'>{{no_choice}}</div>

            <script>

              var a = document.getElementById('no_choice');
              var monTexte = a.innerText || a.textContent;
              
              if(monTexte == "no_choice"){

                document.getElementById('image').innerHTML = "<img src ='/static/img/manequin.jpg' style='margin-top:60px;width: 240px;height: 200px;'>\
                                                              <br><br><a href='/photo/mes_images' style='color:black;'>prendre une de mes image</a>";


              }

            </script>
              
       

 
       </div>


        
      <div>{% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken"
          value="ZAXPtCw1BrKyg5oMDsi3COYuAwppTIV0YgJNvN52C0RPowi7mvU4cAFVg2VgQTti">{% csrf_token %}
     
        <input type="hidden" name="csrfmiddlewaretoken"
          value="ZAXPtCw1BrKyg5oMDsi3COYuAwppTIV0YgJNvN52C0RPowi7mvU4cAFVg2VgQTti">{% csrf_token %}

        
        <form id='jaime' method="POST" action='/photo/coupe'>{% csrf_token %}
        
          <input type="HIDDEN" id="coupedecheveux" name="coupedecheveux" value=''>{% csrf_token %}
          
          <input type="hidden" name="coupe"
            value=LISTECOUPE>{% csrf_token %}
            <br>
          <input type="button" id="sub" value="J'aime cette coupe" onclick="yo()"
          <a class="btn btn-light btn-xl js-scroll-trigger">{% csrf_token %}
          
        </form>{% csrf_token %}
        
      </div>


    
    </div>

    <div class='container'>
    

    <br><br>
    <input type='button' value='ajouter de la longueur?' style=" border:3px solid black" onclick='ajout_longueur()'>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp


    <input type='button' value='ajouter de la largeur?' style=" border:3px solid black" onclick='ajout_largeur()'>

    <input type='button' value='enlever de la longueur?' style=" border:3px solid black; float:right;" onclick='enlever_longueur()'>

    &nbsp&nbsp<input type='button' value='enlever de la largeur?'
    style=" border:3px solid black;float:right; margin-right:60px;" onclick='enlever_largeur()'>&nbsp&nbsp
    </div>
    <br><br>

 
    

    <form action='/photo/coupe' method='POST'>{% csrf_token %}
        <center><input type='button' id='sauve' value='enregistrer la coupe'
        style="border:3px solid black;"/></center>
    </form>

  </section>


    
  
  
  



    
    <script>
    

    jQuery("#sauve").on("click", function(e){

       e.preventDefault();
        jQuery.ajax({
            data:{
                'csrfmiddlewaretoken': '{{csrf_token}}' , 
                'produit':String(LISTE1[LISTE1.length -1]),

                
         
            },
            type:"POST",
            url:"/photo/coupe"
        })
        .done(function(data){
            if (data.error){
                jQuery("#monCadreAlert").text(data.error);
                jQuery("#is_save");
                
                
            }
            else{
                jQuery("#is_save").html(data.data);
                jQuery("#monCadreAlert");
                
                
            };
            
        });
    });

    



    LISTE1 = []
    
    function ajout_longueur(){
      
      var a = LISTE_RESIZE[LISTE_RESIZE.length -1]
      alert(a)
      var b = document.getElementById(a).id
      var c = '#' + b
    
      var image = document.querySelector(c);
      var X = image.getAttribute("width");
      X = parseInt(X) ;
  
      var Y = image.getAttribute("height"); 		
      Y = parseInt(Y) ;
     
      
      X += 0 ; 
      Y += 5 ;
      image.setAttribute('width', X);
      image.setAttribute('height',Y);

      var d = document.getElementById(b).style.height = Y;
  
      document.getElementById(b).style.width = X;
      
      LISTE1.push([b, X,Y]);
    
  
    
    }


    function ajout_largeur(){
      
  
      var a = LISTE_RESIZE[LISTE_RESIZE.length -1]
      var b = document.getElementById(a).id
      var c = '#' + b
    
      var image = document.querySelector(c);
      var X = image.getAttribute("width");
      X = parseInt(X) ;

  
      var Y = image.getAttribute("height"); 		
      Y = parseInt(Y) ;
     
    
      X += 5 ; 
      Y += 0 ;
      image.setAttribute('width', X);
      image.setAttribute('height',Y);
      LISTE1.push([b, X,Y]);
      

    }


    function enlever_longueur(){

      var a = LISTE_RESIZE[LISTE_RESIZE.length -1]
      var b = document.getElementById(a).id
      var c = '#' + b
    
      var image = document.querySelector(c);
      var X = image.getAttribute("width");
      X = parseInt(X) ;
  
      var Y = image.getAttribute("height"); 		
      Y = parseInt(Y) ;
     
    
      X += 0 ; 
      Y -= 5 ;
      image.setAttribute('width', X);
      image.setAttribute('height',Y);
      LISTE1.push([b, X,Y]);
    
    }

    
    function enlever_largeur(){
    

      var a = LISTE_RESIZE[LISTE_RESIZE.length -1]
      var b = document.getElementById(a).id
      var c = '#' + b
    
      var image = document.querySelector(c);
      var X = image.getAttribute("width");
      X = parseInt(X) ;
  
      var Y = image.getAttribute("height"); 		
      Y = parseInt(Y) ;
     
    
      X -= 5 ; 
      Y += 0 ;
      image.setAttribute('width', X);
      image.setAttribute('height',Y);
      LISTE1.push([b, X,Y]);
      
    }

  </script>
  









  <!-- Services Section -->
  <section class="page-section" id="services">
  
    <div class="container">
    
      <h2 class="text-center mt-0">Mes services</h2>
      <hr class="divider my-4">


      
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <style>#im6{width:100px; height:100px;}</style>
           <img src = "/static/img/portfolio/icone/telecharger.png"/ id="im6">
            <h3 class="h4 mb-2">Télécharger une image</h3>
            <p class="text-muted mb-0">Télécharge une image et va essayer des coupes de cheveux et des vetements !!</p>
          </div>
        </div>



        
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <style>#im4{width:100px; height:100px;}</style>
           <img src = "/static/img/portfolio/icone/photo.png"/ id="im4">
            <h3 class="h4 mb-2">Prendre une photo !   </h3>
            <br>
            <p class="text-muted mb-0">Va faire la star ! et va essayer une coupe de cheveux !</p>
          </div>
        </div>

        
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <style>#im5{width:100px; height:100px;}</style>
           <img src = "/static/img/portfolio/icone/vetements.png"/ id="im5">
            <h3 class="h4 mb-2">Essaie des vetements !</h3>
            <p class="text-muted mb-0">Selon la tendance du moment va essayer des vetements
            notre algorith fais par un genie chinois te propose les meilleurs couleurs </p>
          </div>
        </div>

        
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <style>#im7{width:100px; height:100px;}</style>
           <img src = "/static/img/portfolio/icone/magasin.png"/ id="im7">
            <h3 class="h4 mb-2">e-commerce</h3>
            <br>
            <p class="text-muted mb-0">thune Thune THUNEEEE</p>
          </div>
        </div>


        
      </div>
    </div>
  </section>










  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Abonne toi sur nos reseaux sociaux !</h2>


            
           <style>#im10{width:100px; height:100px;margin-left:50px;}</style>
           <img src = "/static/img/portfolio/icone/facebook.png"/ id="im10">

                                
            <style>#im11{width:100px; height:100px;margin-left:100px;}</style>
           <img src = "/static/img/portfolio/icone/twitter.png"/ id="im11">

                  
           <style>#im12{width:200px; height:200px;margin-left:100px;}</style>
           <img src = "/static/img/portfolio/icone/snap.png"/ id="im12">
                    
    </div>
  </section>














  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
      </div>
    </div>
  </section>










  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
 
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/creative.min.js"></script>

</body>


</html>



















