

{% include "navebarre.html" %}

{% block content %}
{% endblock %}

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>






  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
                <br><br><br><br>
          <h1 class="text-uppercase text-white font-weight-bold">Essais des habits ! et sans faire la queue !</h1>
          <hr class="divider my-4">
        </div>

        <br><br><br><br>
        <div class="col-lg-12 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">
          
        


            <div class="container text-center">



          
           <style>#im13{width:100px; height:100px;margin-left:50px;}</style>
           <a href="t-shirt"><img src = "/static/img/portfolio/icone/tshirt.png"/ id="im10"></a>
   
     
            <style>#im14{width:100px; height:100px;margin-left:100px;}</style>
            <a href="pantalon"><img src = "/static/img/portfolio/icone/pantalon.png"/ id="im11"></a>
           
            <style>#im14{width:100px; height:100px;margin-left:100px;}</style>
            <a href=""><img src = "/static/img/portfolio/icone/veste.png"/ id="im11"></a>
                  
            <style>#short{width:70px; height:70px;margin-left:100px;}</style>
            <a href=""><img src = "/static/img/portfolio/icone/short.png"/ id="short"></a>


            <style>#im14{width:100px; height:100px;margin-left:100px;}</style>
            <a href=""><img src = "/static/img/portfolio/icone/chemise.png"/ id="im11"></a>



            


          
      
          


          </a>
        </div>
      </div>
    </div>
  </header>




  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h2 class="text-white mt-0"></h2>
          <hr class="divider light my-4">


          <p class="text-white-50 mb-4">Voici une sélection des habits fait par nos experts qui vont le mieux avec cette coupe</p>

          <input type='button' value='etes vous un homme ou un femme ?'>
          <br><br>

          <center><strong><h2>Etes-vous :</center></strong></h2><br><br>
          
          <input type='button' id='brune' value='brune' onclick='coul("brune")'>
          <input type='button' id='blonde' value='blonde' onclick='coul("blonde")'>
          <input type='button' id='chatain' value='chatain' onclick='coul("chatain")'>
          <input type='button' id='rousse' value='rousse' onclick='coul("rousse")'>
          
          <input type='button' id='noire' value='noire' onclick='coul("noire")'>

          
          <br><br>
          <div id='couleur' style='display:none;'></div>
          <div id='recherche' style='display:none;' value=''></div>

          <div id='profil'></div>

          <script>

            var a = '<img src ="/static/img/portfolio/photo/' +
                                                           '{{user}}' +
                                                           '/habit/'+
                                                            '{{image_to_vet}}'+
                                                            '">'
            alert(a);
          
            document.getElementById('profil').innerHTML = a;
                                                           



           
          </script>




          <script>

          var HAUT = 'habit_bas_blanc'
          var BAS = 'habit_bas_blanc'
          function coul(couleur){

            document.getElementById('couleur').style.display = 'block';
            document.getElementById('couleur').innerHTML = 'Vous etes donc ' + couleur;
            var a = document.getElementById('couleur').innerHTML;
           
            };



          jQuery("#brune, #blonde, #chatain, #rousse, #noire").on("click", function(e){
            
            var a = document.getElementById('couleur').innerHTML;
            var b = document.getElementById('recherche').innerHTML;
 
            document.getElementById(HAUT).style.display = 'none';   
            document.getElementById(BAS).style.display = 'none';
            
             e.preventDefault();
             
              jQuery.ajax({
                  data:{
                      'csrfmiddlewaretoken': 'vrS3jiKMco5HjUgoQlNOQtDEUWWnq0Dg9jqGC5ECVvtI5mWHXmWtvrZBN09F9AMP' , 
                      'a':a,
                      'b':b
                  },
                  type:"POST",
                  url:"/photo/habits"
              })
              .done(function(data){
                  if (data.error){
                      jQuery("#monCadreAlert").text(data.error);
                      jQuery("#is_save");
                      
                      
                  }
                  else{
                      jQuery("#habit").html(data.data);
                      jQuery("#monCadreAlert");
                      console.log(data);
                      liste1 = [[],[]]
                      var c = 0;
                      for(var i = 0; i < data.length; i ++){
                        console.log(data[i])
                        liste1[c].push(data[i])
                        if(data[i] == ' '){
                            c += 1
                          }

                        }
        
                      var haut = 'habit_haut_' + liste1[0].join('').slice(0,-1)
                      var bas = 'habit_bas_' + liste1[1].join('')
                      HAUT = haut
                      BAS = bas
                      console.log('habit_bas_bleu')

                      console.log(haut)
                      console.log(bas)
                    
                      document.getElementById(haut).style.display = 'block';
                      document.getElementById(bas).style.display = 'block';

                  };
                  
              });
          });

          
          </script>


  


        <div id ='ess'></div>












          <style>
          #1,
          #2,
          #3,
          #4,
          #5,
          #6,
          #7,
          #8,
          #9,
          #10,
          #11,
          #22,
          #33,
          #44,
          #55,
          #66,
          #77,
          #88 { width: 0px; height: 0px;}
          </style>


    
          <div id='habit_bas_blanc' style='display:none;'>
            <div class='row'>
            <div id='1'>
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/1.png'>
            </div>
            
            <div id='2'>
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/2.2.png'>
            </div>
            
            <div id='3'>
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/3.png'>
            </div>

            <div id='4' >
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/4.png'>
            </div>

            
            <div id='5' >
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/5.png'>
            </div>


            <div id='6' >
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/6.png'>
            </div>
  
            <div id='7' >
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/7.png'>
            </div>
        

            <div id='8' >
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/8.png'>
            </div>

            
            <div id='9' >
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/9.png'>
            </div>
            
            <div id='10' >
            <img src='/static/img/portfolio/vetement/femme/bas_blanc/10.png'>
            </div>


      </div>
      </div>
      </div>


          <script>
            $( function() {
              $("#1, #2, #3, #4, #5, #6, #7, #8, #9, #10, #profil").draggable();
            } );

          </script>



          <div id='habit_bas_bleu' style='display:none;'>
          <div class='row'>
            <div id='11'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/1.png'>
            </div>
            
            <div id='22'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/2.png'>
            </div>
            
            <div id='33'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/3.png'>
            </div>

            <div id='44'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/4.png'>
            </div>

            
            <div id='55'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/5.png'>
            </div>


            <div id='66'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/6.png'>
            </div>
  
            <div id='77'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/7.png'>
            </div>
        

            <div id='88'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/8.png'>
            </div>

            
            <div id='99'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/9.png'>
            </div>
            
            <div id='1010'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/10.png'>
            </div>


            <div id='1111'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/11.png'>
            </div>

            <div id='1212'>
            <img src='/static/img/portfolio/vetement/femme/bas_bleu/12.png'>
            </div>

            
    </div>
    </div>
    </div>
    
      <script>
        $( function() {
          $("#11, #22, #33, #44, #55, #66, #77, #88, #99, #1010, #1111, #1212").draggable();
        } );

      </script>




          <div id='habit_haut_blanc' style='display:none;'>
          <div class='row'>
          
            <div id='111'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/1.png' width='250' height='250'>
            </div>
            
            <div id='222'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/2.png'>
            </div>
            
            <div id='333'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/3.png'>
            </div>

            <div id='444'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/4.png'>
            </div>

            
            <div id='555'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/5.png'>
            </div>


            <div id='666'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/6.png'>
            </div>
  
            <div id='777'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/7.png'>
            </div>

        
            <div id='999'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/9.png'>
            </div>
            
            <div id='101010'>
            <img src='/static/img/portfolio/vetement/femme/haut_blanc/10.png'>
            </div>


      </div>
      </div>
      </div>
          


      <script>
        $( function() {
          $("#111, #222, #333, #444, #555, #666, #777, #888, #999, #101010").draggable();
        } );

      </script>





          <div id='habit_haut_gris' style='display:none;'>
            <div class='row'>
            <div id='1111'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/1.png'>
            </div>
            
            <div id='2222'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/2.png'>
            </div>
            
            <div id='3333'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/3.png'>
            </div>

            <div id='4444'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/4.png'>
            </div>

            
            <div id='5555'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/5.png'>
            </div>


            <div id='6666'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/6.png'>
            </div>
  
            <div id='7777'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/7.png'>
            </div>
        

            <div id='8888'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/8.png'>
            </div>

            
            <div id='9999'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/9.png'>
            </div>
            
            <div id='10101010'>
            <img src='/static/img/portfolio/vetement/femme/haut_gris/10.png'>
            </div>

      </div>
      </div>
      </div>
          




      <script>
        $( function() {
          $("#1111, #2222, #3333, #4444, #5555, #6666, #7777, #8888, #9999, #10101010").draggable();
        } );

      </script>




          
          <div id='image'></div>
          
      




























        <style>#draggable{width:0px; height:0px;}</style>

         
        
          
        
            

          <div id="1"><div>


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          
        </div>
      </div>
    </div>
  </section>







    <style>
    #containner {
        margin: 0px auto;
        width: 400px;
        height: 400px;
    }
    #videoElement {
        width: 400px;
        height: 400px;
        position:relative;
    }
    #patron{
      margin-left:105px;
      margin-top:100px;
      width: 200px;
      height: 200px;
      border: 2px solid red;
      border-radius:50%;
      position:absolute ;
      z-index:1;
    }
    </style>


  <!-- Portfolio Section -->
  <section id="portfolio">

  
    <div class="container-fluid p-0">
      <div class="row no-gutters">

      
        <div class="col-lg-4 col-sm-6">
        
          <a class="portfolio-box" href="/static/img/portfolio/fullsize/1.jpg">
            <img class="img-fluid" src="/static/img/portfolio/thumbnails/1.jpg" alt="">
            <div class="portfolio-box-caption">
            
              <div class="project-category text-white-50">
                Conerad 26 ans
              </div>
                
              
              <div class="project-name">
                A enfin arréter les pull orange et vert !
              </div>
            </div>
          </a>
        </div>

        
        <div class="col-lg-4 col-sm-6">
        
          <a class="portfolio-box" href="/static/img/portfolio/fullsize/2.jpg">
            <img class="img-fluid" src="/static/img/portfolio/thumbnails/2.jpg" alt="">
            
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Sarah 24 ans
              </div>
              <div class="project-name">
                Ne fais plus d'achat inutil
              </div>
            </div>
          </a>
        </div>



        
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/portfolio/fullsize/3.jpg">
            <img class="img-fluid" src="/static/img/portfolio/thumbnails/3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Jo 35 ans
              </div>
              <div class="project-name">
                a kiffé le projet
              </div>
            </div>
          </a>
        </div>



        
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/portfolio/fullsize/4.jpg">
            <img class="img-fluid" src="/static/img/portfolio/thumbnails/4.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Marion 17 ans
              </div>
              <div class="project-name">
                a adoré le site ! (elle est aujourd'hui manequin)
              </div>
            </div>
          </a>
        </div>



        
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/portfolio/fullsize/5.jpg">
            <img class="img-fluid" src="/static/img/portfolio/thumbnails/5.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Rey 22 ans Professionel de Tennis
              </div>
              <div class="project-name">
                Ne fais pas un match sans avoir tester des habits sur My Profil
              </div>
            </div>
          </a>
        </div>

        
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/portfolio/fullsize/6.jpg">
            <img class="img-fluid" src="/static/img/portfolio/thumbnails/6.jpg" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Ginette 82 ans
              </div>
              <div class="project-name">
                N'a rien compris
              </div>
            </div>
          </a>
        </div>
      </div>

      
    </div>
  </section>














  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Abonne toi sur nos reseaux sociaux !</h2>


                 
           <style>#im10{width:100px; height:100px;margin-left:50px;}</style>
           <img src = "/static/img/portfolio/icone/facebook.png"/ id="im10">

                                
            <style>#im11{width:100px; height:100px;margin-left:100px;}</style>
           <img src = "/static/img/portfolio/icone/twitter.png"/ id="im11">

                  
           <style>#im12{width:200px; height:200px;margin-left:100px;}</style>
           <img src = "/static/img/portfolio/icone/snap.png"/ id="im12">
                    
    </div>
  </section>







  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
      </div>
    </div>
  </section>

</body>





</html>




 
