{% include "navebarre.html" %}

{% block content %}
{% endblock %}


  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">


      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h2 class="text-white mt-0">Mes Images</h2>

        
        <script>
          function pushing(value){
            document.getElementById('posting').value = value;
            document.myform.submit();
            }
        </script>


        <form name='myform' action="/photo/coupe" method="POST">{% csrf_token %}
        
        <input type='hidden' id='posting' name='posting' value=''/>
        
        <p><center><strong>Image pour les cheveux</strong></center></p>
        {% for i in liste %}
            <tr class="{% cycle 'row1' 'row2' %}">

               <input type='image' onclick=pushing(value)
                 class="img-fluid" id='im_cheveux{{i}}' value='{{i}}'
                 src='/static/img/portfolio/photo/{{user}}/cheveux/{{i}}'
                 style='height:200px; width:200px; border:2px black solid;'/>


            <script>
              img = document.getElementById('im_cheveux{{i}}').src;
              if(img==""){document.getElementById('im_habit{{i}}').style.display = "none";}
            </script>

            
          </tr>
          
      </form>
          
        {% endfor %}
        <br><br>

      <form action="/photo/habits" method="POST">{% csrf_token %}
      
        <p><center><strong>Image pour les habits</strong></center></p>
        {% for i in liste %}
            <tr class="{% cycle 'row1' 'row2' %}">
            
               <input type='image' class="img-fluid" id='im_habit{{i}}' value='{{i}}'
               'src='/static/img/portfolio/photo/{{user}}/habit/{{i}}'
               style='height:200px; width:200px; border:2px black solid;' onclick=pushing()/>

          <script>
            img = document.getElementById('im_habit{{i}}').src;
            if(img==""){document.getElementById('im_habit{{i}}').style.display = "none";}
          </script>

        </tr>
        {% endfor %}

     </form>


   
      <br><br><br><br>
    

  
      </div>
    </div>
  </section>


{% include "bottom_page.html" %}

{% block content2 %}
{% endblock content2%}




