            {% include "menu_photo.html" %}
            {% block content %}
            {% endblock %}



            <div id="deux" class="col-sm">
              <center><span><u>Page</u></h1></span>

                      <a href="/photo/coupe#container_photo">
                          <p id="Coiffures" class="Coiffures"
                              onmouseover="un('Coiffures')" onmouseout="deux('Coiffures')">
                              Les Coiffures
                          </p>
                      </a>
                      
                      <a href="/photo/coupe#CONTENEUR">
                          <p id="Coiffeurs" class="Coiffeurs"
                              onmouseover="un('Coiffeurs')" onmouseout="deux('Coiffeurs')">
                              Les Coiffeurs
                          </p>
                      </a>
                      
                      <a href="/photo/coupe#CONTENEUR">
                          <p id="Gym" class="Gym"
                              onmouseover="un('Gym')" onmouseout="deux('Gym')">
                              Les salles de Gym
                          </p>
                      </a>
                      
                      <p id="Retour" class="Retour"
                          onmouseover="un('Retour')" onmouseout="deux('Retour')"
                          onclick="retour_page('/photo/coupe#menumenu')">Retour
                      </p>



                      <center><div id="separate_page"></div></center>





              
            </div>

            
          </div>
        </div>
        
    </div>


</body>








<style>
    a:hover{
        text-decoration: none;
    }
    #Coiffures{
        padding-top:50px;
    }
    #Coiffeurs,
    #Coiffures,
    #Gym,
    #retour2,
    #Retour{
        color:white;
    }
    #separate_page{
        width:50px;
        height:1px;
        background:white;
    }

    #retour_page{
        color:white;
    }



        
</style>



<script>
    function retour_page(page){
        document.location.href = page;
    };
</script>


















