<link rel="stylesheet" type="text/css" href="/static/css/navebarre_ui.css" media="all" />

<!-- Navebarre -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">


    <!-- Left section - Fisrt logo -->
    <img src="/static/img/portfolio/icone/my.png" id="my_prof"
      alt="Smylet white with blacks bordures. It has two eyes (points) et one
      smyle an arc-shaped line"
      onMouseOver='mode_div3("myprofile_p", "my_prof")'
      onMouseOut='mode_div4("myprofile_p", "black", "my_prof", "49px", "49px")'>
    <a class="navbar-brand js-scroll-trigger" href="/photo/home_bobo">
      <p id='myprofile_p'
          onMouseOver='mode_div3("myprofile_p", "my_prof")'
          onMouseOut='mode_div4("myprofile_p", "black", "my_prof","49px", "49px")'>
        My_Profil
      </p>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    

    <!-- Left Section - Second logo -->
    <img src="/static/img/portfolio2/icone/indian.png" id="my"
      alt="Indian face picture, like cartoon image"
      onMouseOver='mode_div3("pol_logo", "my", 50,60)'
      onMouseOut='mode_div4("pol_logo", "black", "my", "49px", "49px")'>
    <a class="navbar-brand js-scroll-trigger" href="/polution/polution">
      <p id='pol_logo'
        onMouseOver='mode_div3("pol_logo", "my", 50,60)'
        onMouseOut='mode_div4("pol_logo", "black", "my", "49px", "49px")'>
          My_pollution
      </p>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button"
      data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">


      <!-- Right Section -->
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
      

        <!-- Right Section - Fisrt logo -->
        <center><li class="nav-item">
          <img src="/static/img/portfolio/icone/momode.png" id="momode"
              alt="Image of a black evening dress"
              onMouseOver='change_image_tendance1("p_mode", "momode")'
              onMouseOut='change_image_tendance2("p_mode", "momode")'>
          <a class="nav-link js-scroll-trigger" href="/administrateur/tendance">
            <p id='p_mode'
                onMouseOver='change_image_tendance1("p_mode", "momode")'
                onMouseOut='change_image_tendance2("p_mode", "momode")'>
              La tendance du moment ?
            </p>
          </a>
        </li></center>


        <!-- Right Section - Second logo -->
        <center><li class="nav-item">
          <img src="/static/img/portfolio/icone/coiffure.png" id="coif_nav"
            alt="Image of a child with a bad hair style"
            onMouseOver='change_image_coiff1("coif_p")'
            onMouseOut='change_image_coiff2("coif_p", "black")'>
          <a class="nav-link js-scroll-trigger" href="/photo/coupe">
            <p id='coif_p'
                onMouseOver='change_image_coiff1("coif_p")'
                onMouseOut='change_image_coiff2("coif_p", "black")'>
               Mes coiffures
            </p>
          </a>
        </li></center>


        <!-- Right Section - Third logo -->
        <center><li class="nav-item">
          <img src="/static/img/portfolio/icone/vetements.png" id="im3"
            alt="Image of a tshirt in the middle
            is a heart outline black white background"
            onMouseOver='change_image_vetements1("p_vet")'
            onMouseOut='change_image_vetements2("p_vet", "black")'>
          <a class="nav-link js-scroll-trigger" href="/photo/habits">
            <center><p id='p_vet'
                onMouseOver='change_image_vetements1("p_vet")'
                onMouseOut='change_image_vetements2("p_vet", "black")'>
              Mes vetements
            </p></center>
          </a>
         </li></center>


        <!-- Right Section - Fourth logo -->
        <center><li class="nav-item">
          <img src="/static/img/portfolio/icone/deco.png" id="deco_nav"
            alt="A round logo with inside a rectangle
            with an arrow representing the exit of a door"
            onMouseOver='change_image_logout1("p_deco")'
            onMouseOut='change_image_logout2("p_deco", "black")'>       
          <a class="nav-link js-scroll-trigger" href="/accounts/logout_view">  
            <center><p id='p_deco'
                onMouseOver='change_image_logout1("p_deco")'
                onMouseOut='change_image_logout2("p_deco", "black")'>
              Se déconnecter
            </p></center>
          </a>     
        </li></center>
           
      
      </ul>
  </div>
</div>
</nav>
<script type="text/javascript" src="/static/js/navebarre_ui.js"></script>
</html>






























































