 {% include "menu_photo.html" %}
            {% block content %}
            {% endblock %}



            <div id="deux" class="col-sm">
              <center><span><u>Page</u></h1></span>

                      <a href="/direction/map#texte2">
                          <p id="Carte" class="Carte"
                              onmouseover="un('Carte')" onmouseout="deux('Carte')">
                              La Carte
                          </p>
                      </a>
                      

                      <a href="/direction/map#trois">
                          <p id="Explications" class="Explications"
                              onmouseover="un('Explications')" onmouseout="deux('Explications')">
                              Les Explications
                          </p>
                      </a>
                      
                      <p id="Retour" class="Retour"
                          onmouseover="un('Retour')" onmouseout="deux('Retour')"
                          onclick="retour_page('/direction/map')">Retour
                      </p>



                      <center><div id="separate_page"></div></center>





              
            </div>

            
          </div>
        </div>
        
    </div>


</body>








<style>
    a:hover{
        text-decoration: none;
    }
    #Carte{
        padding-top:50px;
    }
    #Carte,
    #Explications,
    #Gym,
    #retour2,
    #Retour{
        color:white;
    }
    #separate_page{
        width:50px;
        height:1px;
        background:white;
    }
    #retour_page{
        color:white;
    }
        
</style>



<script>
    function retour_page(page){
        document.location.href = page;
    };
</script>
