#separate{
  background:url("/static/img/parquet1.jpg");
}
h1{
   font-family:"recursive";
   color:black;
}
h2{
   font-family:"Comic Sans MS, Comic Sans, cursive";
    color:black;
}
#href_to_summary{
   color:black;
}

#im4{
   width:100px;
   height:100px;
   margin-left:15px;
}
#im6{
   width:100px; 
   height:100px;
}
#im5{
   width:100px;
   height:100px;
}
#im7{
width:100px;
   height:100px;
}
#im7{
width:100px;
   height:100px;
}
#im7{
width:100px;
   height:100px;
}
#im12{
   width:200px; 
   height:200px;
   margin-left:100px;
}
#im10{
  width:100px;
  height:100px;
  margin-left:50px;
}                  
#im11{
   width:100px;
   height:100px;
   margin-left:100px;
}