#autre{
    margin-left:-965px;
    margin-top:-100px;
}
#h{
    font:Serif;
    color:white;
}


#sins{
    color:black;
    font-family:"cursive";
    color:black;
}
#h{
    color:black;
    font-family:"Comic Sans MS, Comic Sans, cursive";
}
p{
    color:white;
}
#data{
    text-align:center;
}
#formm{
    border:5px solid black;
    width:50%;
    background:url("/static/img/parquet1.jpg");
}
#about{
    background:#212529;
}
h3{
    color:white;
    text-shadow: black 0.2em 0.1em 0.2em;
}
#div_form{
    text-align:center;
}
input{
  text-align:center;
  width:250px;
  border:1px solid black;
}
#input_mail{
    text-align:center;
    width:250px;
    border:1px solid black;
}
#input_mail2{
    text-align:center;
    width:250px;
    border:1px solid black;
}
#input_password{
    text-align:center;
    width:250px;
    border:1px solid black;
}
#submit_input{
    color:black;
    border:2px solid black;
}
