

  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Abonne toi sur nos reseaux sociaux !</h2>
        <a href=""><i class="fab fa-facebook-square" id="fb"></i></a>
        <a href=""><i class="fab fa-twitter-square" id="tw"></i></a>
        <a href=""><i class="fab fa-snapchat-square" id="sn"></i></a>              
    </div>
  </section>


  <section class="page-section" id="contact" style="background:white;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/creative.min.js"></script>












</html>







<style>

i{
    color:white;
}


@media screen and (min-width: 0px) and (max-width:374px) {
    #fb{
        font-size:50px;
        width:250px;
    }
    #tw{
        font-size:50px;
        width:250px;
    }
    #sn{
        font-size:50px;
        width:250px;
    }    
    .mb-4{
        font-size:5vw;     
    }
}

@media screen and (min-width: 374px) and (max-width:800px) {
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;
    }    
    .mb-4{
        font-size:5vw;
    }
}


@media screen and (min-width: 800px) and (max-width:1000px) {
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;
    }    
    .mb-4{
        font-size:3vw;
        
    }
}



@media screen and (min-width: 1000px) and (max-width:1500px) {
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;

    }    
    .mb-4{
        font-size:2.5vw;
        
    }
}

@media screen and (min-width: 1501px){
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;
        
    }    
    .mb-4{
        font-size:2.5vw;
        
    }
}





</style>
























