{% include "navebarre_pollu.html" %}
{% block content %}
{% endblock %}



  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <center><h1 style='color:black;font-family:"Comic Sans MS, Comic Sans, cursive";'>Nos données sur la pollution !</h1></center><br>
          <br>
          <center><h2 style='color:black; font-style=justufy'>Suis la pollution en temps réel</h2></center>
          
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5"></p>
          
  
          
        </div>
      </div>
    </div>
  </header>



  <style>
    input{border:2px solid black;}
  </style>




  <!-- About Section -->
  <section class="page-section bg-dark text-white">

  <p style='margin-left:50px;color:black;'>
    <i>*AQI signifie indice de qualité de l'air<br> par la mesure de l'O3, le SO2, le NO2 et PM10.</i>
  </p>
  
  <br>
  
  <p style='margin-left:50px;color:black;'><i>*le cours du dollard et le taux de vente du diesel<br>
    représentent le taux de présence des voitures diesel en circulation</i>
  </p>
    
  <br><br>
  
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          
        
        <div class="row">
          
          <div class="col-lg-3 col-sm-5 col-md-5" style='background:url("/static/img/parquet1.jpg");
                                      margin:auto; height:350px; border:2px solid black;
                                      border-radius:80px;'>
            <br>
            <h5>Taux de pollution de particules fines à<br>Lyon</h5><br><br>
            <center><strong><h5 id='lyon_pol'>{{lyon}}</h5>AQI</strong></center><br><br>
            <center><input type='button' value='Voir les données' onclick='donnée_lyon()'></center>
            <br>
          </div>


          
          <div class="col-lg-3 col-sm-5 col-md-5" style='background:url("/static/img/parquet1.jpg");
                                      margin:auto; height:350px;border:2px solid black;
                                      border-radius:80px;'>
                                      
              <br>
              <h5>Taux de pollution de particules fines à<br>Paris</h5><br><br>
              <center><strong><h5 id='paris_pol'>{{paris}}</h5>AQI</strong></center><br><br>
              <center><input type='button' value='Voir les données' onclick='donnée_paris()'></center>
              <br>  
          </div>


          
          <div class="col-lg-3 col-sm-5 col-md-5" style='background:url("/static/img/parquet1.jpg");
                                      margin:auto; height:350px;
                                      border:2px solid black;
                                      border-radius:80px;'>
              <br>
              <h5>Taux de pollution de particules fines à Marseille</h5><br><br>
              <center><strong><h5 id='marseille_pol'>{{marseille}}</h5>AQI</strong></center><br><br>
              <center><input type='button' value='Voir les données' onclick='donnée_marseille()'></center>
              
          </div>





      </div>


       <br><br>

       <div id='info1' style='display:none;'>
       
        <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">
          
            <div class="col-sm">
              <span style='color:black;'>Météo de Lyon</span><br><br>{{météo_lyon}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Vent de Lyon</span><br><br>{{vent_lyon}} m/s
            </div>
            <div class="col-sm">
              <span style='color:black;'>Température de Lyon</span><br><br>{{température_lyon}} degrès
            </div>
            <div class="col-sm">
             <span style='color:black;'>Pression de Lyon</span><br><br>{{pression_lyon}} hpa
            </div>
            <div class="col-sm">
              <span style='color:black;'>Saison actuelle</span><br><br>{{saison_actuelle}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Départ à routier à Lyon</span><br>{{départ_routier_lyon}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>C'est jour regulier à lyon</span><br>{{regulier_jour_lyon}}
            </div>
            
          </div>
        </div><br><br>

         <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">
          
            <div class="col-sm">
              <span style='color:black;'>Ce n'est pas une heure de pointe à lyon</span><br><br>{{non_pointe_lyon}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Week end</span><br><br><br><br><br>{{weekend}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Jour de semaine</span><br><br><br><br>{{jour_semaine}}
            </div>
            <div class="col-sm">
             <span style='color:black;'>Rang de la ville la plus polluée en France</span><br><br>{{classement_lyon}} / 20
            </div>
            <div class="col-sm">
              <span style='color:black;'>Site industrielle les plus polluant de France</span><br>{{pole_lyon}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Population active de 15 à 59 ans</span><br><br>{{socio_lyon}} personnes
            </div>
            <div class="col-sm">
              <span style='color:black;'>Bouchons à Lyon</span><br><br><br><br>{{bouchons_lyon}}
            </div>
            
          </div>
        </div><br><br>

       <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">
          
            <div class="col-sm">
              <span style='color:black;'>Erruption volicanique cette semaine</span><br><br>{{eruption}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Vente du diesel</span><br><br><br><br>{{diesel}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Le cours du dollard</span><br><br><br><br>{{dollard}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Période d'angrais</span><br><br><br><br>{{angrais}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Le jour ou la nuit</span><br><br><br><br>{{periode}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Taux de polenne</span><br><br><br><br>{{po_lyon}} 
            </div>
            <div class="col-sm">
              <span style='color:black;'>Incendie à Lyon</span><br><br><br><br>{{incendie_lyon}}
            </div>

          </div>
        </div><br><br>
        
          <br><br>
          <input type='button' value='fermer' onclick='fermer()'>

        
          <br><br><br><br>
          <div style='float:left;'><i>Donnée fournis par openweathermap :
          <a href="https://openweathermap.org/" style='color:black;'> <i>openweathermap</i>
          </a></i></div><br>

          <div style='float:left;'>
          <i>Classement de 1 a 7 des villes les plus polluée :</i>
          <a href="http://www.linternaute.com/ville/c-ville-pollution-de-l-air"
           style='color:black;'><i>Internaute</a></i></div><br>


          <div style='float:left;'><i>Classement des sites industriels les plus pollués : 
          </i><a href="https://www.greenunivers.com/2009/05/quinze-sites-industriels-plus-pollueurs-de-france-6981/"
          style='color:black;'><i>Grenunivers</a></i></div><br>

          <div style='float:left;'><i>Manifestation à lyon : </i>
          <a href="https://www.onlymoov.com/trafic/" style='color:black;'><i>onlymoov</a></i></div><br>

          <div style='float:left;'><i>Bouchons à lyon : </i>
          <a href="https://www.moncoyote.com/fr/info-trafic-lyon.html"
            style='color:black;'><i>moncoyote</a></i></div><br>

      </div>

         <div id='info2' style='display:none;'>
       
        <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">
          
            <div class="col-sm">
              <span style='color:black;'>Météo de Paris</span><br><br>{{météo_paris}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Vent de Paris</span><br><br>{{vent_paris}} m/s
            </div>
            <div class="col-sm">
              <span style='color:black;'>Température de Paris</span><br><br>{{température_paris}} degrès
            </div>
            <div class="col-sm">
             <span style='color:black;'>Pression de Paris</span><br><br>{{pression_paris}} hpa
            </div>
            <div class="col-sm">
              <span style='color:black;'>Saison actuelle</span><br><br>{{saison_actuelle}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Départ à routier à Paris</span><br>{{départ_routier_paris}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>C'est jour regulier à Paris</span><br>{{regulier_jour_paris}}
            </div>
            
          </div>
        </div><br><br>

         <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">
          
            <div class="col-sm">
              <span style='color:black;'>Ce n'est pas une heure de pointe à Paris</span><br><br>{{non_pointe_paris}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Week end</span><br><br><br><br><br>{{weekend}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Jour de semaine</span><br><br><br><br>{{jour_semaine}}
            </div>
            <div class="col-sm">
             <span style='color:black;'>Rang de la ville la plus polluée en France</span><br><br>{{classement_paris}} / 20
            </div>
            <div class="col-sm">
              <span style='color:black;'>Site industrielle les plus polluant de France</span><br>{{pole_paris}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Population active de 15 à 59 ans</span><br><br>{{socio_paris}} personnes
            </div>
            <div class="col-sm">
              <span style='color:black;'>Bouchons à Paris</span><br><br><br><br>{{bouchons_paris}} Km
            </div>
            
          </div>
        </div><br><br>

       <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">


            <div class="col-sm">
              <span style='color:black;'>Erruption volicanique cette semaine</span><br><br>{{eruption}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Vente du diesel</span><br><br><br><br>{{diesel}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Le cours du dollard</span><br><br><br><br>{{dollard}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Période d'angrais</span><br><br><br><br>{{angrais}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Le jour ou la nuit</span><br><br><br><br>{{periode}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Taux de polenne</span><br><br><br><br>{{po_paris}} 
            </div>
            <div class="col-sm">
              <span style='color:black;'>Incendie à Paris</span><br><br><br><br>{{incendie_paris}}
            </div>
          </div>
        </div><br><br>

          <br><br>
          <input type='button' value='fermer' onclick='fermer()'>

        
          <br><br><br><br>
          <div style='float:left;'><i>Donnée fournis par openweathermap :
          <a href="https://openweathermap.org/" style='color:black;'> <i>openweathermap</i>
          </a></i></div><br>

          <div style='float:left;'>
          <i>Classement de 1 a 7 des villes les plus polluée :</i>
          <a href="http://www.linternaute.com/ville/c-ville-pollution-de-l-air"
           style='color:black;'><i>Internaute</a></i></div><br>


          <div style='float:left;'><i>Classement des sites industriels les plus pollués : 
          </i><a href="https://www.greenunivers.com/2009/05/quinze-sites-industriels-plus-pollueurs-de-france-6981/"
          style='color:black;'><i>Grenunivers</a></i></div><br>

          <div style='float:left;'><i>Manifestation à Paris : </i>
          <a href="https://www.onlymoov.com/trafic/" style='color:black;'><i>onlymoov</a></i></div><br>

          <div style='float:left;'><i>Bouchons à Paris : </i>
          <a href="https://www.moncoyote.com/fr/info-trafic-lyon.html"
            style='color:black;'><i>moncoyote</a></i></div><br>

      </div>





      
      <div id='info3' style='display:none;'>
       
        <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">
          
            <div class="col-sm">
              <span style='color:black;'>Météo de Marseille</span><br><br>{{météo_marseille}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Vent de Marseille</span><br><br>{{vent_marseille}} m/s
            </div>
            <div class="col-sm">
              <span style='color:black;'>Température de Marseille</span><br><br>{{température_marseille}} degrès
            </div>
            <div class="col-sm">
             <span style='color:black;'>Pression de Marseille</span><br><br>{{pression_marseille}} hpa
            </div>
            <div class="col-sm">
              <span style='color:black;'>Saison actuelle</span><br><br>{{saison_actuelle}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Départ à routier à Marseille</span><br>{{départ_routier_lyon}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>C'est jour regulier à Marseille</span><br>{{regulier_jour_marseille}}
            </div>
            
          </div>
        </div><br><br>

         <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">
          
            <div class="col-sm">
              <span style='color:black;'>Ce n'est pas une heure de pointe à Marseille</span><br><br>{{non_pointe_marseille}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Week end</span><br><br><br><br><br>{{weekend}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Jour de semaine</span><br><br><br><br>{{jour_semaine}}
            </div>
            <div class="col-sm">
             <span style='color:black;'>Rang de la ville la plus polluée en France</span><br><br>{{classement_marseille}} / 20
            </div>
            <div class="col-sm">
              <span style='color:black;'>Site industrielle les plus polluant de France</span><br>{{pole_marseille}}
            </div>
            <div class="col-sm">
              <span style='color:black;'>Population active de 15 à 59 ans</span><br><br>{{socio_marseille}} personnes
            </div>
            <div class="col-sm">
              <span style='color:black;'>Bouchons à Marseille</span><br><br><br><br>{{bouchons_marseille}} Km
            </div>
            
          </div>
        </div><br><br>

       <div class="container" style='background:url("/static/img/parquet1.jpg"); border:2px solid black;'>
          <div class="row">
    
            <div class="col-sm">
              <span style='color:black;'>Erruption volicanique cette semaine</span><br><br>{{eruption}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Vente du diesel</span><br><br><br><br>{{diesel}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Le cours du dollard</span><br><br><br><br>{{dollard}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Période d'angrais</span><br><br><br><br>{{angrais}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Le jour ou la nuit</span><br><br><br><br>{{periode}} 
            </div>
             <div class="col-sm">
              <span style='color:black;'>Taux de polenne</span><br><br><br><br>{{po_marseille}} 
            </div>
            <div class="col-sm">
              <span style='color:black;'>Incendie à Marseille</span><br><br><br><br>{{incendie_marseille}} 
            </div>
          </div>
        </div><br><br>
        
          <br><br>
          <input type='button' value='fermer' onclick='fermer()'>

        
          <br><br><br><br>
          <div style='float:left;'><i>Donnée fournis par openweathermap :
          <a href="https://openweathermap.org/" style='color:black;'> <i>openweathermap</i>
          </a></i></div><br>

          <div style='float:left;'>
          <i>Classement de 1 a 7 des villes les plus polluée :</i>
          <a href="http://www.linternaute.com/ville/c-ville-pollution-de-l-air"
           style='color:black;'><i>Internaute</a></i></div><br>


          <div style='float:left;'><i>Classement des sites industriels les plus pollués : 
          </i><a href="https://www.greenunivers.com/2009/05/quinze-sites-industriels-plus-pollueurs-de-france-6981/"
          style='color:black;'><i>Grenunivers</a></i></div><br>

          <div style='float:left;'><i>Manifestation à Marseille : </i>
          <a href="https://www.onlymoov.com/trafic/" style='color:black;'><i>onlymoov</a></i></div><br>

          <div style='float:left;'><i>Bouchons à Paris : </i>
          <a href="https://www.moncoyote.com/fr/info-trafic-lyon.html"
            style='color:black;'><i>moncoyote</a></i></div><br>

      </div>
      



      <br><br><br><br><br><br>
      <div style='float:left;'><i>Données issuent de <a href='http://www.airlab.solutions/fr'
          style='color:black;'>plumairlab
          </a></i> 
      </div>

        
    </div>
  </section>





  <script>
    var a = document.getElementById('lyon_pol').innerHTML;
    var b = document.getElementById('marseille_pol').innerHTML;
    var c = document.getElementById('paris_pol').innerHTML;

    function coul_pol(variable, id){
      if(variable <= 20){
        document.getElementById(id).style.color='green';
      }
      else if (variable > 20 && variable <= 50){
        document.getElementById(id).style.color='orange';
      }
      else if (variable > 50){
        document.getElementById(id).style.color='red';
      }

    }

    coul_pol(a, 'lyon_pol');
    coul_pol(b, 'marseille_pol');
    coul_pol(c, 'paris_pol');


  </script>

















  
  <script>

    function fermer(){
      document.getElementById('info2').style.display = 'none';
      document.getElementById('info3').style.display = 'none';
      document.getElementById('info1').style.display = 'none';
      };
  
    function donnée_lyon(){
      document.getElementById('info2').style.display = 'none';
      document.getElementById('info3').style.display = 'none';
      document.getElementById('info1').style.display = 'block';
      };     

    function donnée_paris(){
      document.getElementById('info1').style.display = 'none';
      document.getElementById('info3').style.display = 'none';
      document.getElementById('info2').style.display = 'block';
     };

    function donnée_marseille(){
      document.getElementById('info1').style.display = 'none';
      document.getElementById('info2').style.display = 'none';
      document.getElementById('info3').style.display = 'block';
    };
      
  </script>



      </div>
    </div>
  </section>


  <div style='background:url("/static/img/parquet1.jpg");'><br><br>

    <center><a href='/direction/map'><img src='/static/img/portfolio2/icone/map.png' width='200' height='200'></a></center>
      <br>
      <center><a href='/direction/map'
        style='color:black;'><h4>Voir notre carte interractive sur le vent</h4>
      </a></center>
      <center><h6>Rentre une ville et regarde le vent se déplacer</h6></center>
      
  <br><br>
  </div>
















  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Abonne toi sur nos reseaux sociaux !</h2>


                 
           <style>#im10{width:100px; height:100px;margin-left:50px;}</style>
           <img src = "/static/img/portfolio/icone/facebook.png"/ id="im10">

                                
            <style>#im11{width:100px; height:100px;margin-left:100px;}</style>
           <img src = "/static/img/portfolio/icone/twitter.png"/ id="im11">

                  
           <style>#im12{width:200px; height:200px;margin-left:100px;}</style>
           <img src = "/static/img/portfolio/icone/snap.png"/ id="im12">
                    
    </div>
  </section>







  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/creative.min.js"></script>

</body>











</html>
