
{% include "navebarre.html" %}
{% block content %}
{% endblock %}


 <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
        <br><br>

           <style>#autre{margin-left:-965px;;margin-top:-100px;}</style>

           <h1 class="text-uppercase text-white font-weight-bold">Coté administrateur !</h1>


  
          <style>#h{font:Serif; color:white;}</style>
          <br>

        
           <hr class="divider my-4">
          </div>

          
          <div class="col-lg-8 align-self-baseline">
             <p class="text-white-75 font-weight-light mb-5"></p>
          
            <center>
              <p>
                <i>Afin de pouvoir faire une analyse nous vous recommendons d'ajouter de nouvelles data</i>
              </p>
            </center>
              
             <input type='button' value='voir la database' onclick='database_mode()'>
             <input type='button' value='voir la tendance du moment' onclick='tendance()'>
             


             <script>

                 function database_mode(){
                    document.location.href="/administrateur/database_mode"; 
                   }

                 function tendance(){
                    document.location.href="/administrateur/tendance"; 
                   }

                 function ajout(){
                    document.location.href="/administrateur/ajout"; 
                   }

                 function analyse(){
                    document.location.href="/administrateur/analyse"; 
                   }

             </script>
          
        
      </div>
    </div>
  </div>
</header>





































