{% include "navebarre_admin2.html" %}
{% block content %}
{% endblock %}




<style>
  #navebarre_pollu{
    display:none;
  }

  #fond_tendance{
    background:url('/static/v2/.jpg') no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
  }
  #text{
    color:black;
    float:right;
    text-align:justify;
  }
  

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("/static/img/fond2.jpg");
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("/static/img/fond2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#h1_tendance{
  color:black;
  margin-left:1016px;


  }
#text_icone_texte{
  font-size:100%;

}
#text_icone_ouvrir{
  font-size:100%;
  display:none;

}
        

</style>



<script>
  function text_shut(){
    document.getElementById('texte_in_texte').style.display = "none";
    document.getElementById('text_icone_texte').style.display = "none";
    document.getElementById('text_icone_ouvrir').style.display = "inline-block";
    
  };


  function open_it_bro(){
    document.getElementById('texte_in_texte').style.display = "block";
    document.getElementById('text_icone_texte').style.display = "inline-block";
    document.getElementById('text_icone_ouvrir').style.display = "none";

  };


</script>

<!-- Title Section -->
<div id="fond_tendance" style='position:fixed'>
    <div class="row h-100 align-items-center justify-content-center text-center">



      <div class="col-lg-12">
          
          <h1 id="h1_tendance">La tendance du moment
            &nbsp;&nbsp;&nbsp;
            <i class="fas fa-angle-up" id="text_icone_texte"
              onclick="text_shut()"></i>
            <i class="fas fa-angle-down" id="text_icone_ouvrir" onclick="open_it_bro()"></i>
          </h1>
          


         


          <br>
      </div>


        

   
          
          <div class="col-lg-4" id="texte_tend" style='margin-left:1080px;text-align:justify;'>
            <p id="texte_in_texte">
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              
            </p>
          </div>

        
    

      <div id='latendance'></div>
        

    </div>
  </div>
</header>


<!-- First Separate Blue Section for visual aspect -->
<div>
    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
</div>


<!-- Main Section - Tendance of moment -->
<section id='section'>
  <div class="container text-center">
    <center>
      <div id="cart_color">
        <br>
        <center><h1 id="cart_h1">Notre tendance</h1></center><br>
        <center>
          <div id='brun'></div><br><br>
          <div id='blond'></div><br><br>
          <div id='chatain'></div>
          <br>
        </center>
      </div>
    </center>
  </div>
</section>


<!-- Second Separate Blue Section for visual aspect -->
<div id=''>
  <br><br><br><br><br>
</div>


<!-- Iframe from an other page. Give feeling to consult a book -->
<div id="">
  <center>
    <iframe id="inlineFrameExample"
        title="Inline Frame Example"
        src="/administrateur/database_mode">
    </iframe>
  </center>
</div>


<!-- Third Separate Blue Section for visual aspect -->
<div id=''>
  <br><br><br><br><br>
</div>




</body>
<!-- Bottom Section number 2 -->
<div id='botttom'> 
  {% include "bottom_page2.html" %}
  {% block content2 %}
  {% endblock content2%}
</div>









<script>

  //This functions are a result from a mistake.
  //Indeed, before we gave possibility to
  //choose to watch one database (women or men)
  //with input like (do you want watch database ? yes women ? men ?)
  // so here we action this input who are now invisible.

  // ---> Evenement Function <---

  function data(){
    document.location.href="/administrateur/database_mode/"
  };

  function tendance(){
    document.getElementById('latendance').innerHTML = '<br><h3>La tendance du moment selon : </h3>';
    document.getElementById('section').style.display = 'block';
    document.getElementById('botttom').style.display = 'none';
  };

  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  };


  var a = decodeHtml("{{liste10|slice:'1'}}");
  var b = decodeHtml("{{liste10|slice:'1:2'}}");
  var c = decodeHtml("{{liste10|slice:'2:3'}}");
    
  a = a.slice(3,-4)
  b = b.slice(3,-4)
  c = c.slice(3,-4)

  function enelve(lettre){
    liste = ""
    for(var i = 0; i < lettre.length; i ++){
      if (lettre[i] == "'"){
      }
      else if(lettre[i] == ","){
        liste += " et "
      }
      else{
        liste += lettre[i]
      }
    }
    return liste
  };

  a = enelve(a)
  b = enelve(b)
  c = enelve(c)

  document.getElementById('brun').innerHTML = "<center><strong>Brune :</strong>&nbsp;&nbsp;&nbsp;</center>" +
                                              "<center><p style='font-family:amaze, segoe print, segoe script; font-size:2em;'>" + a + "</p></center>";

                                                
  document.getElementById('blond').innerHTML = "<center><strong>Blonde :</strong>" +
                                                "&nbsp;&nbsp;&nbsp;<p style='font-family:amaze,segoe print, segoe script; font-size:2em;'>" + b + "</p></center>";

                                                  
  document.getElementById('chatain').innerHTML = "<center><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chatain :" +
                                                  "</strong>&nbsp;&nbsp;&nbsp;<p style='font-family:amaze, segoe print, segoe script;font-size:2em;'>" + c + "</p></center>";



























</script>






















<style>
    #inlineFrameExample{
      border:2px solid black;
      style='border:none; scrolling:no;
      allowfullscreen="true;
      frameborder=0';
      overflow: hidden;
      width:90%;
      height:500px;
      }
    #div_iframe{
      background:url('/static/img/parquet1.jpg');

    }
</style>



<style>#autre{margin-left:-965px;;margin-top:-100px;}</style>
<style>#h{font:Serif; color:white;}</style>

<style>

#database,
#tendance{
  color:white;
  background:url('/static/img/parquet1.jpg');
  border: none;
  text-shadow: black 0.1em 0.1em 0.2em;
  
  }

</style>


<style>

  #cart_h1{
    color:black; font-family:segoe script
  }

  #cart_color{
    background:url('/static/img/parquet1.jpg');
    width:45%;
    border:2px solid black;
  }
  #brun,
  #blond,
  #chatain{
    font-size:1.5em;
  }
</style>
<style>
  h1{
    color:black;
    font-family:"recursive";
  }
  h2{
    color:black;
  }
  #separate{
    background:#212529;
  }

  
</style>
